@model VO.DVDCentral.BL.Models.ShoppingCart

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for your purchase!</h2>
<h3>@Html.ActionLink("Return to Home Page", "Index", "Home")</h3>

