@model IEnumerable<VO.DVDCentral.BL.Models.Genre>

    <table>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Description, "Browse", "Movie", new { id = item.Id, description = item.Description }, null)
                </td>
            </tr>
        }
            <tr>
                <td>@Html.ActionLink("Show All", "Index", "Genre")</td>
            </tr>
        

    </table>
